.App {
  padding: 0.5rem;
}

.footer {
  text-align: right;
  font-size: .4rem;
}

button {
  font-size: 1.5rem;
}

.links {
  list-style-type: none;
  padding-inline-start: 0;
}

.links>li {
  text-decoration: underline;
}

.links>li:hover {
  color:white;
  cursor:pointer;
}
