.App {
  padding: 0.5rem;
}

.container {
  width: 13rem;
  background-color: #00AAFF;
}

body {
  margin:0;
}

input {
  width: 8rem;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
}

.links {
  list-style-type: none;
  padding-inline-start: 0;
}

.links>li {
  text-decoration: underline;
}

.links>li:hover {
  color:white;
  cursor:pointer;
}
